In [ ]:
import pandas as pd
train= pd.read_csv ("/content/train.csv") 
test= pd.read_csv ("/content/test.csv") 
train.head()
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75757 entries, 0 to 75756
Data columns (total 64 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year_Factor                75757 non-null  int64
 1   State_Factor               75757 non-null  object
 2   building_class             75757 non-null  object
 3   facility_type              75757 non-null  object
 4   floor_area                 75757 non-null  float64
 5   year_built                 73920 non-null  float64
 6   energy_star_rating         49048 non-null  float64
 7   ELEVATION                  75757 non-null  float64
 8   january_min_temp           75757 non-null  int64
 9   january_avg_temp           75757 non-null  float64
 10  january_max_temp           75757 non-null  int64
 11  february_min_temp          75757 non-null  int64
 12  february_avg_temp          75757 non-null  float64
 13  february_max_temp          75757 non-null  int64
 14  march_min_temp             75757 non-null  int64
 15  march_avg_temp             75757 non-null  float64
 16  march_max_temp             75757 non-null  int64
 17  april_min_temp             75757 non-null  int64
 18  april_avg_temp             75757 non-null  float64
 19  april_max_temp             75757 non-null  int64
 20  may_min_temp               75757 non-null  int64
 21  may_avg_temp               75757 non-null  float64
 22  may_max_temp               75757 non-null  int64
 23  june_min_temp              75757 non-null  int64
 24  june_avg_temp              75757 non-null  float64
 25  june_max_temp              75757 non-null  int64
 26  july_min_temp              75757 non-null  int64
 27  july_avg_temp              75757 non-null  float64
 28  july_max_temp              75757 non-null  int64
 29  august_min_temp            75757 non-null  int64
 30  august_avg_temp            75757 non-null  float64
 31  august_max_temp            75757 non-null  int64
 32  september_min_temp         75757 non-null  int64
 33  september_avg_temp         75757 non-null  float64
 34  september_max_temp         75757 non-null  int64
 35  october_min_temp           75757 non-null  int64
 36  october_avg_temp           75757 non-null  float64
 37  october_max_temp           75757 non-null  int64
 38  november_min_temp          75757 non-null  int64
 39  november_avg_temp          75757 non-null  float64
 40  november_max_temp          75757 non-null  int64
 41  december_min_temp          75757 non-null  int64
 42  december_avg_temp          75757 non-null  float64
 43  december_max_temp          75757 non-null  int64
 44  cooling_degree_days        75757 non-null  int64
 45  heating_degree_days        75757 non-null  int64
 46  precipitation_inches       75757 non-null  float64
 47  snowfall_inches            75757 non-null  float64
 48  snowdepth_inches           75757 non-null  int64
 49  avg_temp                   75757 non-null  float64
 50  days_below_30F             75757 non-null  int64
 51  days_below_20F             75757 non-null  int64
 52  days_below_10F             75757 non-null  int64
 53  days_below_0F              75757 non-null  int64
 54  days_above_80F             75757 non-null  int64
 55  days_above_90F             75757 non-null  int64
 56  days_above_100F            75757 non-null  int64
 57  days_above_110F            75757 non-null  int64
 58  direction_max_wind_speed   34675 non-null  float64
 59  direction_peak_wind_speed  33946 non-null  float64
 60  max_wind_speed             34675 non-null  float64
 61  days_with_fog              29961 non-null  float64
 62  site_eui                   75757 non-null  float64
 63  id                         75757 non-null  int64
dtypes: float64(24), int64(37), object(3)
memory usage: 37.0+ MB

El código anterior nos da información de las variables con valores nulos en el data set de train.

Valores nulos se conocen como missing data. Buscar método para completar missing data (i.e. basados es estadística clásica)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
train["State_Factor"].value_counts()

State_6     50840
State_11     6412
State_1      5618
State_2      4871
State_4      4300
State_8      3701
State_10       15
Name: State_Factor, dtype: int64

In [ ]:
train["facility_type"].value_counts()

Multifamily_Uncategorized                    39455
Office_Uncategorized                         12512
Education_Other_classroom                     3860
Lodging_Hotel                                 2098
2to4_Unit_Building                            1893
Commercial_Other                              1744
5plus_Unit_Building                           1273
Warehouse_Nonrefrigerated                     1255
Retail_Uncategorized                          1130
Education_College_or_university               1056
Nursing_Home                                   772
Education_Uncategorized                        709
Mixed_Use_Commercial_and_Residential           672
Lodging_Dormitory_or_fraternity_sorority       669
Warehouse_Distribution_or_Shipping_center      604
Warehouse_Selfstorage                          577
Grocery_store_or_food_market                   448
Office_Medical_non_diagnostic                  447
Health_Care_Inpatient                          409
Religious_worship                              399
Industrial                                     384
Warehouse_Uncategorized                        330
Mixed_Use_Predominantly_Commercial             256
Parking_Garage                                 251
Office_Bank_or_other_financial                 173
Public_Assembly_Library                        160
Public_Safety_Fire_or_police_station           157
Public_Assembly_Other                          142
Service_Vehicle_service_repair_shop            138
Retail_Enclosed_mall                           120
Retail_Strip_shopping_mall                     113
Warehouse_Refrigerated                         113
Public_Assembly_Entertainment_culture          110
Education_Preschool_or_daycare                 108
Laboratory                                     107
Commercial_Unknown                              95
Public_Assembly_Social_meeting                  88
Lodging_Other                                   75
Retail_Vehicle_dealership_showroom              74
Public_Assembly_Recreation                      72
Food_Sales                                      70
Public_Assembly_Drama_theater                   70
Service_Uncategorized                           68
Food_Service_Restaurant_or_cafeteria            64
Health_Care_Outpatient_Clinic                   56
Health_Care_Uncategorized                       51
Public_Safety_Uncategorized                     43
Public_Assembly_Movie_Theater                   39
Public_Safety_Courthouse                        38
Public_Safety_Penitentiary                      37
Health_Care_Outpatient_Uncategorized            36
Data_Center                                     27
Public_Assembly_Uncategorized                   25
Office_Mixed_use                                18
Food_Service_Uncategorized                      18
Food_Service_Other                              17
Mixed_Use_Predominantly_Residential              9
Public_Assembly_Stadium                          9
Service_Drycleaning_or_Laundry                   9
Lodging_Uncategorized                            5
Name: facility_type, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder 
Le= LabelEncoder ()

In [ ]:
for i in train.columns:
  if train[i].dtypes=="object":
    train[i]=Le.fit_transform(train[i])
train.head()

   Year_Factor  State_Factor  building_class  ...  days_with_fog    site_eui  id
0            1             0               0  ...            NaN  248.682615   0
1            1             0               0  ...           12.0   26.500150   1
2            1             0               0  ...           12.0   24.693619   2
3            1             0               0  ...           12.0   48.406926   3
4            1             0               0  ...            NaN    3.899395   4

[5 rows x 64 columns]

In [ ]:
for i in test.columns:
  if test[i].dtypes=="object":
    test[i]=Le.fit_transform(test[i])
test.head()

   Year_Factor  State_Factor  ...  days_with_fog     id
0            7             0  ...            NaN  75757
1            7             0  ...            NaN  75758
2            7             0  ...            NaN  75759
3            7             0  ...            NaN  75760
4            7             0  ...          126.0  75761

[5 rows x 63 columns]

El código anterior es para hacer un bucle que recorra todas las columnas para encontrar una variable categorica y que la transforme en variable numérica

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
train_year_built_imputation_value = 2022
train_energy_star_rating_imputation_value = train['energy_star_rating'].mean()
train_direction_max_wind_speed_imputation_value = train['direction_max_wind_speed'].mean()
train_direction_peak_wind_speed_imputation_value = train['direction_peak_wind_speed'].mean()
train_max_wind_speed_imputation_value = train['max_wind_speed'].mean()
train_days_with_fog_speed_imputation_value = train['days_with_fog'].mean()

train['year_built'] =train['year_built'].replace(np.nan, train_year_built_imputation_value)
train['energy_star_rating']=train['energy_star_rating'].replace(np.nan, train_energy_star_rating_imputation_value)
train['direction_max_wind_speed']= train['direction_max_wind_speed'].replace(np.nan, train_direction_max_wind_speed_imputation_value)
train['direction_peak_wind_speed']= train['direction_peak_wind_speed'].replace(np.nan, train_direction_peak_wind_speed_imputation_value)
train['max_wind_speed']=train['max_wind_speed'].replace(np.nan, train_max_wind_speed_imputation_value)
train['days_with_fog']=train['days_with_fog'].replace(np.nan, train_days_with_fog_speed_imputation_value)

In [ ]:
test['year_built'] =test['year_built'].replace(np.nan, train_year_built_imputation_value)
test['energy_star_rating']=test['energy_star_rating'].replace(np.nan, train_energy_star_rating_imputation_value)
test['direction_max_wind_speed']= test['direction_max_wind_speed'].replace(np.nan, train_direction_max_wind_speed_imputation_value)
test['direction_peak_wind_speed']= test['direction_peak_wind_speed'].replace(np.nan, train_direction_peak_wind_speed_imputation_value)
test['max_wind_speed']=test['max_wind_speed'].replace(np.nan, train_max_wind_speed_imputation_value)
test['days_with_fog']=test['days_with_fog'].replace(np.nan, train_days_with_fog_speed_imputation_value)

El código anterior cambia los missing data por los valores que queremos en función de cada caso. Hemos determinado que year_built se cambien por 2022 y en el resto de los casos por la media, tanto para train como test.

In [ ]:
train.describe().style.background_gradient()

Ahora vemos los nuevos valores de las variables que tenían missing values.

In [ ]:
import copy 
from sklearn.preprocessing import StandardScaler
y = train["site_eui"]
train = train.drop(["site_eui","id"],axis =1)
test = test.drop(["id"],axis =1)
trainnames = copy.deepcopy(train)
scaler = StandardScaler()
train = scaler.fit_transform(train)
test = scaler.fit_transform(test)

Lo que hemos hecho ahora es aplicar lo que denominan "Feature scaling" para normalizar los datos que queremos dentro de un rango en particular.

In [ ]:
train

array([[-2.28876040e+00, -2.73502847e+00, -1.16308853e+00, ...,
        -7.08271499e-01, -7.30181542e-01,  4.45712541e-16],
       [-2.28876040e+00, -2.73502847e+00, -1.16308853e+00, ...,
        -8.14595953e-17, -7.30181542e-01, -3.04678581e+00],
       [-2.28876040e+00, -2.73502847e+00, -1.16308853e+00, ...,
        -8.14595953e-17, -7.30181542e-01, -3.04678581e+00],
       ...,
       [ 1.10929044e+00, -1.44431120e+00, -1.16308853e+00, ...,
        -8.14595953e-17, -2.03263093e-16,  4.45712541e-16],
       [ 1.10929044e+00, -1.44431120e+00, -1.16308853e+00, ...,
        -8.14595953e-17, -2.03263093e-16,  4.45712541e-16],
       [ 1.10929044e+00, -1.44431120e+00,  8.59779779e-01, ...,
        -8.14595953e-17, -2.03263093e-16,  4.45712541e-16]])

Aplicamos el modelo XGboost ya que es uno de los modelos más empleados para tratar datos estructurados y de manera rápida.

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train, y, test_size = 0.2, random_state = 50)

In [ ]:
import xgboost

In [ ]:
xgboost_model = xgboost.XGBRegressor(n_estimators=100, learning_rate=0.03, gamma=0, subsample=0.75,
                           colsample_bytree=0.4, max_depth=3)
xgboost_model.fit(X_train,y_train)

[16:19:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(colsample_bytree=0.4, learning_rate=0.03, subsample=0.75)

In [ ]:
from sklearn.metrics import explained_variance_score
predictions = xgboost_model.predict(X_test)
print(explained_variance_score(predictions,y_test))

-4.233943738079323

In [ ]:
res = xgboost_model.predict(test)
sub = pd.read_csv("/content/sample_solution.csv")
sub["site_eui"] = res
sub.to_csv("submission.csv", index = False)

In [ ]:
sub.head()

      id    site_eui
0  75757  126.289650
1  75758  112.710419
2  75759  160.367157
3  75760  124.868530
4  75761  122.304504

Este es el resultado obtenido de la predicción